* {
    box-sizing: border-box;
    margin: 0.5rem;
}

body {
    background-color: rgb(185, 183, 183);
}

h1 {
    color: rgb(167, 165, 165);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 42, 143);
    margin: 1rem;
    width: 25rem;
    padding: 1rem;
}

.inp {
    height: 2rem;
    width: 20rem;
    background-color: rgb(242, 248, 152);
    color: black;
}

.btn {
    text-align: center;
    border-radius: 7px;
    height: 2rem;
    width: 6rem;
    background-color: rgb(71, 214, 250);
    color: black;
}

.btn:hover {
 cursor: pointer;
 box-shadow: 1px 2px 10px 1px rgb(245, 245, 245);
}

.answer {
    line-height: 2rem;
    text-align: center;
    border: 1px solid black;
    height: 2rem;
    width: 20rem;
    background-color: rgb(247, 200, 48);
    color: black;
}